* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding:auto;
}

body {
}

header {
  text-align: center;
}

nav {
}

nav li {
  display: inline-block;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.281));
  margin: auto;
  border-radius: 3rem;
  height: 796px;
  width: 1296px;
}

.main {
  display: flex;
  padding: 7.5rem;
}

img {
}

.container {
  margin-left: 1.6rem;
}

h1 {
  font-weight: 1000;
}

h3 {
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.name {
  border-style: none;
  border-radius: 1rem;
  background-color: #ebebeb;
  padding: 0.8rem;

}

.email {
  border-style: none;
  border-radius: 1rem;
  background-color: #ebebeb;
  padding: 0.8rem;
}

.password {
  border-style: none;
  border-radius: 1rem;
  background-color: #ebebeb;
  padding: 0.8rem;
}

.submit {
  border-style: none;
  border-radius: 1rem;
  background-color: #4f8cf7;
  color: #ebebeb;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.8rem;
  cursor: pointer;
}

h4 {
  font-size: 0.7rem;
}

span {
  color: red;
  cursor: pointer;
}

/*  */
/* Media Query */
/*  */

@media screen and (max-width: 375px)


{
  nav li {
    display: none;
  }
  .main{
      display: block;
  }

  main {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.281));
    border-radius: 3rem;
    height: 900px;
    width: 500px;
  }


  .main {
    padding: 6.5rem;
  }
  

  .name {
    border-style: none;
    border-radius: 1rem;
    background-color: #ebebeb;
    padding: 0.8rem;
    width: 300px;
  
  }
  
  img {
    width: 300px;
  }

  .email {
    border-style: none;
    border-radius: 1rem;
    background-color: #ebebeb;
    padding: 0.8rem;
    width: 300px;
  }
  
  .password {
    border-style: none;
    border-radius: 1rem;
    background-color: #ebebeb;
    padding: 0.8rem;
    width: 300px;
  }
  
  .submit {
    border-style: none;
    border-radius: 1rem;
    background-color: #4f8cf7;
    color: #ebebeb;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.8rem;
    cursor: pointer;
    width: 300px;
  }
  .container {
    margin: 2rem 0rem 0rem 0rem;

  }
}
